<div class="columns is-vcentered is-mobile">
  <div class="column box is-8">
    <%= simple_format(bbs_post_view.body) %>
    <p class="is-pulled-right">
      投稿者：<%= bbs_post_view.poster_name %>
    </p>
  </div>
  <div class="column is-2">
    <button
      type="button"
      id="<%= bbs_post_view.delete_bbs_post_button_id %>"
      data-url="<%= bbs_post_view.delete_bbs_post_path %>"
      class="delete"/>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('#<%= bbs_post_view.delete_bbs_post_button_id %>')
    .click(function(){
      
      if (confirm('削除します\nよろしいですか？')){
      
        var $button = $(this);
        
        function sendDelete(){
          return $.ajax({
            beforeSend: function(request) {
              request.setRequestHeader("X-CSRF-Token", $('meta[name="csrf-token"]').attr('content'));
            },
            url: $button.attr('data-url'),
            type: 'delete',
          });
        };
        
        sendDelete()
        .done(function(){
          location.reload();
        })
        .fail(function(xhr){
          alert('通信エラーです');
        });
      
      } // if confirm
      
    });
  });
</script>